name: Publish Source Zip

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
    - uses: actions/checkout@v3
    
    - name: Get Version
      id: get_version
      run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

    - name: Create Zip Archive
      run: |
        # ZIP exclude .git, .github, and other dev files
        zip -r Video-Skill-Transcriber-${{ steps.get_version.outputs.VERSION }}.zip . -x "*.git*" ".github/*" ".gitignore" ".user_session.json" "__pycache__/*" "*.pyc"
      
    - name: Create Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          Video-Skill-Transcriber-*.zip
        generate_release_notes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
